<div class="row">
    {% for hora in ['13:00', '15:00', '17:00', '19:00', '21:00'] %}
        <div class="col-4">
            {% if hora in horas_ocupadas %}
                <button type="button"  value="{{hora}}" id="btn-header" disabled style="background-color: gray; color: white;">
                    {{ hora }}
                </button>
            {% else %}
            <input type="button" name="hora" value="{{ hora }}" class="btn-hora" id="btn-header"></input>
            {% endif %}
        </div>
    {% endfor %}
</div>
