<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <div class="rounded-box">
        <p style="color: #FFFFFF; text-align: center; font-size: 18px; margin-top: 3px; margin-bottom: 8px;"><b>Cerrado de sesión</b></p><br>
        <p style="color: #FFFFFF; text-align: left; font-size: 15px; margin-bottom: 18px;"><b>Hola:</b></p><br>
        <p style="color: #FFFFFF; text-align: left; font-size: 15px; margin-bottom: 18px;"><b>Contraseña:</b></p><br>
        <p style="color: #FFFFFF; text-align: left; font-size: 13px; margin-top: 14px;"><u>Olvid&eacute; mi contraseña</u></p><br>
        <p style="color: #FFFFFF; text-align: center; font-size: 13px; margin-top: 33px;"><u>¿No tienes una cuenta? Reg&iacute;strate</u></p><br>
    </div>

</head>

<body class="background-image"></body>